extends layout

block content

  div(id='page')
    div(class='header')  
      h1 
        a(href='/')  The Zine
    div(class='error')
      if error
        p Please correct errors below
        each val in error
          ul
            li= val
    div(id='form')
      div(class='linebreak')
        h1(id='title') Update Article
      div(id='form-container')
        form(action='/show/'+ id+ "/update", method='post')
          div.row
            div.label
              label Title
            div.input
              input(type='text' name='title' value=title)
          div.row
            div.label
              label Background Url
            div.input
              input(type='text' name='url' value=url)
          div.row
            div.label
              label  
            div.input
              div.checkers
                div.x
                  label Background Image Has Dark Colors
                div.y
                  input(type='checkbox'  name='img') 
          div.rowt
            div.label
              label Excerpt
            div.input
              textarea(name='excerpt' ) #{excerpt}
          div.rowt
            div.label
              label Body
            div.input
              textarea(name='body' ) #{body}
          div.row
            div.label
            div.input
              input(type='submit' name='submit' class='submit' value='Update Article')

        div.row
          div.input
            form(action='/show/' + id + '/delete' method='post')
              input(type='submit' id='delete' value='DELETE')
